<h1>Стартовая страница</h1>
<%= link_to 'Должности', controller: 'dlzhs'%><br>
<%= link_to 'Хобби', controller: 'hobbies'%><br>
<%= link_to 'Сотрудники', controller: 'sotrs'%><br>
<%= link_to 'Хобби сотрудников', controller: 'hobby_sotrs'%>