<h1>Редактирование хобби</h1>

<% if @hobby.status==true %>
	<p><font color="Red" size="48"><%= flash[:notice] = "Запись находится в состоянии редактирования!" %></font></p>
<% end %>

<%= render 'form' %>

<%= link_to 'Показать', @hobby %> |
<%= link_to 'Назад', hobbies_path %>
