<h1>Редактирование сотрудника</h1>

<% if @sotr.status==true %>
	<p><font color="Red" size="48"><%= flash[:notice] = "Запись находится в состоянии редактирования!" %></font></p>
<% end %>

<%= render 'form' %>

<%= link_to 'Изменить', @sotr %> |
<%= link_to 'Назад', sotrs_path %>
